# packages:
#   yum:
#     libmemcached-devel: '0.31'

container_commands:
  distribute:
    command: easy_install -U distribute
  mysqlpython:
    command: pip install MySQL-python==1.2.3
  collectstatic:
    command: "django-admin.py collectstatic --noinput"
  01syncdb:
    command: "django-admin.py syncdb --noinput"
    leader_only: true
  02migrate:
    command: "django-admin.py migrate"
    leader_only: true
  # 99customize:
  #   command: "scripts/customize.sh"

# You can specify any key-value pairs in the aws:elasticbeanstalk:application:environment namespace and it will be 
# passed in as environment variables on your EC2 instances
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "mywebsite.settings"
    "application_stage": "staging"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"

# container_commands:
#   01_syncdb:    
#     command: "django-admin.py syncdb --noinput"
#     leader_only: true

# option_settings:
#   - namespace: aws:elasticbeanstalk:container:python
#     option_name: WSGIPath
#     value: wsgi.py
#   - option_name: DJANGO_SETTINGS_MODULE
#     value: mywebsite.settings
